# -----------------------------------------------------------------------------
# Site info
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_LOCALE_DETECTION=false

# -----------------------------------------------------------------------------
# Discord
# -----------------------------------------------------------------------------
NEXT_PUBLIC_DISCORD_INVITE_URL="https://discord.com/invite/R7bUxWKRqZ"

# -----------------------------------------------------------------------------
# Analytics
# Google Analytics: https://analytics.google.com/analytics/web/
# Baidu Tongji: https://tongji.baidu.com/
# Plausible: https://plausible.io/
# -----------------------------------------------------------------------------
NEXT_PUBLIC_GOOGLE_ID=
NEXT_PUBLIC_BAIDU_TONGJI=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
NEXT_PUBLIC_PLAUSIBLE_SRC=

#------------------------------------------------------------------------
# Ads
# Google Adsense: https://www.google.com/adsense/
#------------------------------------------------------------------------
NEXT_PUBLIC_GOOGLE_ADSENSE_ID=

#------------------------------------------------------------------------
# Resend: https://resend.com/
#------------------------------------------------------------------------
RESEND_API_KEY=
ADMIN_EMAIL=
RESEND_AUDIENCE_ID=

#------------------------------------------------------------------------
# Upstash: https://upstash.com/
#------------------------------------------------------------------------
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_NEWSLETTER_RATE_LIMIT_KEY=newsletter-rate-limit
DAY_MAX_SUBMISSIONS=
# 数据库
DATABASE_URL="postgresql://postgres.wuqubmddqpvhrmhqexze:[YOUR-PASSWORD]@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres"
# -----------------------------------------------------------------------------
# Umami Analytics: https://umami.is/
# NEXT_PUBLIC_UMAMI_WEBSITE_ID: 你的 Umami 网站 ID
# NEXT_PUBLIC_UMAMI_SRC: Umami 脚本地址（默认: https://cloud.umami.is/script.js）
# 如果你是自托管，修改 UMAMI_SRC 为你的服务器地址，例如: https://your-domain.com/script.js
# -----------------------------------------------------------------------------
UMAMI_WEBSITE_ID=a1338abe-3c7c-483d-9194-e25266eebd3e
NEXT_PUBLIC_UMAMI_SRC=https://cloud.umami.is/script.js
